<style>
     body {
        background-color: #9b9696;
        font-family: Arial, sans-serif;
        padding: 40px;
        }

        header {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        }

        button {
        background-color: white;
        cursor: pointer;
        }
        
        button:hover {
        background-color:rgb(88, 88, 87);
        }

        nav {
        color: white;
        background-color: black;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        }

        nav a {
        color: white;
        margin-right: 20px;
        text-decoration: none;
        }
        
        .container-flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 20px;
        }

        .left-panel {
        flex: 1;
        min-width: 300px;
        }

        .right-panel {
        flex: 1;
        max-width: 900px;
        position: relative;
        }

        .shcema-wrapper {
        position: relative;
        width: 900px;
        height: 600px;
        overflow: hidden;
        }

        .schema-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
        }

        .icon-overlay {
        position: absolute;
        transform: translate(-50%, -50%);
        font-size: 24px;
        }

        canvas{
            background-color: white;
            color: black;
            
        }
</style>